<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enes.Egezegenler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gezegen_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gezegen_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kolay_testActivity"></activity>
        <activity android:name=".gezegenbilgileri.potunActivity" />
        <activity android:name=".gezegenbilgileri.neptunActivity" />
        <activity android:name=".gezegenbilgileri.uranusActivity" />
        <activity android:name=".gezegenbilgileri.saturnActivity" />
        <activity android:name=".gezegenbilgileri.jupiterActivity" />
        <activity android:name=".gezegenbilgileri.marsActivity" />
        <activity android:name=".gezegenbilgileri.dunyaActivity" />
        <activity android:name=".gezegenbilgileri.venusActivity" />
        <activity android:name=".gezegenbilgileri.merkurActivity" />
        <activity android:name=".testler" />
        <activity android:name=".gokcisimleriActivity" />
        <activity android:name=".splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>